@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800;900&family=Notable&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #15262E;
  color: #FFF7D6;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
}
