---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout>
  <Header />
  <main class="max-w-site mx-auto px-6 py-12">
    <p class="font-body text-neutral-600">Homepage coming soon.</p>
  </main>
</Layout>
