---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LogoLandscape from '../components/LogoLandscape.astro';
import { SearchPage } from '../components/SearchPage';
import { getAllThemes } from '../utils/data';

const themes = await getAllThemes();
---

<Layout title="Search">
  <Header themes={themes} />
  <div class="max-w-site mx-auto px-6 pt-12 pb-4">
    <LogoLandscape class="w-full max-w-md mx-auto fill-bfc-brand-fg" />
  </div>
  <main class="max-w-site mx-auto px-6 pt-4 pb-24">
    <div class="mb-12">
      <h1 class="section-label mb-4 font-heading font-extrabold">Search</h1>
      <p class="font-heading font-extrabold text-4xl">Films & Themes</p>
    </div>
    <SearchPage themes={themes} client:load />
  </main>
</Layout>
