---
import NavBar from './NavBar.astro';
import type { Theme } from '@bathfilmclub/types';

interface Props {
  themes?: Theme[];
  currentSlug?: string;
}

const { themes, currentSlug } = Astro.props;
---

<header class="border-b-4 border-b-bfc-brand-accent py-4">
  <div class="max-w-site mx-auto px-6 md:h-16 flex items-center justify-center">
    <NavBar {...(themes ? { themes } : {})} {...(currentSlug ? { currentSlug } : {})} />
  </div>
</header>
