---
import DiscordButton from './DiscordButton.astro';
import LogoStacked from './LogoStacked.astro';
---

<section class="pt-24 pb-12">
  <div class="max-w-site mx-auto px-6">
    <div class="flex flex-col md:flex-row gap-8 items-center">
      <div class="flex-[2] pl-0 flex items-center">
        <LogoStacked class="w-11/12 fill-bfc-brand-fg" />
      </div>
      <div class="flex-[3] p-0 mb-6">
        <div>
          <h1
            class="font-body text-bfc-brand-fg/80 text-3xl md:text-5xl text-center leading-relaxed mb-4"
          >
            Watch. Discuss. Discover.
          </h1>
          <p
            class="font-body text-bfc-brand-fg/80 text-xl md:text-2xl leading-relaxed mb-16 text-center mx-auto"
          >
            A monthly film club exploring a different theme every month based in the beautiful city
            of Bath. England.
          </p>
        </div>
        <div class="flex justify-center">
          <DiscordButton />
        </div>
      </div>
    </div>
  </div>
</section>
