---
// import { FilmStrip } from './FilmStrip';

interface Props {
  bg?: string;
}
const { bg = '' } = Astro.props;
---

<section class={bg}>
  <div
    class="max-w-site mx-auto px-6 pt-8 pb-4 md:pb-18 font-body text-bfc-brand-fg/80 text-xl space-y-8"
  >
    <p>
      Bath Film Club is a monthly film discussion group based in Bath and organised through Discord.
      Each month we explore a new theme, discover new films, and share our thoughts in a relaxed and
      friendly discussion.
    </p>
    <p>
      Here's how it works. A theme is chosen, members nominate films that fit the theme, and then
      five films are randomly selected to form a shortlist. Members then vote for their favourites,
      and the two most popular films become the focus of that month's discussion.
    </p>
    <p>
      Watch the films in your own time, then join us to share your perspective, hear different
      viewpoints, and discover something new.
    </p>
    <p>
      Not sure if it's for you? Take a look through our previous themes and film selections using
      the menu and, if it sounds like something you'd enjoy, join us on Discord and come along to
      the next discussion.
    </p>
    <div class="pt-10 text-center space-y-3 pb-8">
      <div class="flex justify-center gap-3 text-amber-400/80 text-2xl" aria-hidden="true">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div>
      <p class="font-heading text-3xl italic uppercase mb-8 text-bfc-brand-fg">
        "They had me at hello"
      </p>

      <!-- <p class="font-heading text-5xl text-bfc-brand-fg">Now this is a film club!</p>
      <div class="flex justify-center mb-8 gap-3 text-amber-400/80 text-2xl" aria-hidden="true">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div> -->
      <!-- <div class="flex justify-center gap-3 text-amber-400/80 text-2xl" aria-hidden="true">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div>
      <p class="font-heading text-3xl italic uppercase mb-8 text-bfc-brand-fg">"I'll be back"</p> -->
    </div>
    <!-- <FilmStrip /> -->
  </div>
</section>
